body {
    background: #DB6009;
    cursor: url(./images-for-website/pizzacursor.png), default;
    width: 100%;
    height: 100%;
}

div.colorBorder {
    display: block;
    float: left;
    background: #056c72;
    width: 25%;
}

/* Headers */
h1 {
    font-size: 125px;
    font-family: Marker Felt;
    text-align: center;
    background-color: aqua;
}

h3 {
    font-family: Comic Sans MS;
    text-align: center;
    font-size: 30px;
}

h5 {
    font-family: Comic Sans MS;
    text-align: center;
    font-size: 10px;
}

/* Cartoon Images */
div.row {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 18%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Bio */

p#bio {
    font-family: Trebuchet MS;
    display: block;
    width: 800px;
    margin-left: 5%;
    margin-right: auto;
}

img.sunglasses {
    width: 300px;
}


