/*body {  color block background  
background-repeat:no-repeat; 
background-image:   
linear-gradient(to right, RGB(51, 55, 69), RGB(51, 55, 69)),
linear-gradient(to right, RGB(50, 67, 118), RGB(50, 67, 118)), 
linear-gradient(to right, RGB(254, 95, 85), RGB(254, 95, 85));      
background-position:
0 0px,
0 300px,
0 600px;       
background-size:  
100% 300px, 
100% 300px,
100% 300px;
}*/

.bit-column-6 { /* THIS SECTION CONTROLS THE FRAMING ELEMENT I WANT */
    width: 50%;
}

figure { /* THIS SECTION CONTROLS THE FRAMING ELEMENT I WANT */
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.link-block-image { /* THIS SECTION CONTROLS THE FRAMING ELEMENT I WANT */
    height: auto;
    width: 100%;
}
.img-responsive { /* THIS SECTION CONTROLS THE FRAMING ELEMENT I WANT */
    display: block;
    height: auto;
    max-width: 100%;
}

[class*=bit-] { /* THIS SECTION CONTROLS THE FRAMING ELEMENT I WANT */
    float: left;
    padding: 12px;
}

/* THIS SECTION CONTROLS THE FRAMING ELEMENT I WANT */
.frame.frame-container {
    width: auto;
    background-color: #0693e3;
    margin: auto;
}

.frame, [class*=bit-] { /* THIS SECTION CONTROLS THE FRAMING ELEMENT I WANT */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.frame:after { /* THIS SECTION CONTROLS THE FRAMING ELEMENT I WANT */
    clear: both;
    content: "";
    display: table;
}

body { /* THIS SECTION CONTROLS THE FRAMING ELEMENT I WANT */
   margin: 0;
}